<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Funmi Olupona</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<header class="mt-4">
                        <h1>Welcome to the About Page</h1>
                        <p>I'm glad to have you here and excited to share a little about myself.</p>
                    </header>
                    
                    <section>
                        <h2>My Background</h2>
                        <p>Greetings! I am Funmi, proudly identified by the student ID 110608221 within the dynamic realm of the BTT program. My journey through this academic pursuit has been a delightful blend of challenges and triumphs, igniting a fervent passion for innovation and technology from an early age. I have always been enamored by the profound impact of technology on society, propelling me towards a career path in web development, where my ingenuity and penchant for problem-solving can thrive.</p>
                        <p>As I navigate through my educational voyage, I eagerly embrace the myriad of programming languages, including Python, as well as my current exploration into the realms of HTML, CSS, JavaScript, and the exciting possibilities of Node.js. Armed with these tools, I embark on crafting immersive web experiences that transcend conventional boundaries, catering to the diverse needs and preferences of users worldwide. From crafting sleek websites to envisaging robust web applications, my aspirations soar towards addressing intricate real-world challenges with innovative digital solutions.</p>
                        <p>Beyond the confines of academia, I am an ardent advocate for lifelong learning, perpetually immersing myself in the latest technological frontiers and industry trends. I firmly believe that the pursuit of knowledge is an eternal odyssey, essential for navigating the ever-evolving landscape of technology. When not immersed in lines of code, I indulge in my passions for football, capturing captivating moments through the lens of my camera, and delving into the captivating realms of cinema.</p>
                        <p>Peering into the horizon, I am brimming with anticipation for the boundless opportunities awaiting exploration. My ambition knows no bounds as I strive for excellence in my craft, fueled by the desire to leave an indelible mark on the world through my innovative endeavors.</p>
                    </section>
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>